* {
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 7px 10px;
  flex-wrap: wrap;
  /* background-color:#4d4d4d; */
  background-color: white;
  color: black;
  overflow: hidden;
}

ul,
li {
  list-style-type: none;
}

.name-header{
  font-size: 20px;
  color: #4A5FC1; 
  text-transform: uppercase;
  margin: 0;
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style-type: none;

}
.navbar-list-item {
  margin: 0 10px;
  font-size: 18px;
}
.hamburger{  
  display:none;   
 } 
.nav-link {

  color: #2c405e;
  cursor: pointer;
  text-decoration: none;
  position: relative;
 
}
.nav-link:hover{
  color: #4a5fc1;
  transition: 0.5s;
}

.nav-link::after{
  content: '';
  position: absolute;
  left: 0%; 
  bottom: -18px;
  border: 1px solid black;
  width: 100%;


}

.nav-link:hover::after{
  transform: translateY(-15px);
  transition: transform 0.5s ease;
  
}
.brandName {
  color: #fff;
}

.hamburger{
 font-size: 24px;

 border: 0;
 /* display: none; */
}

.bg-banner {
  background-image: linear-gradient(
      45deg,
      rgba(171, 172, 162, 0.62),
      rgba(151, 204, 176, 0.58)
    ),
    url('../img/photo.jpg');
  background-size: cover;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-content {
  margin-top: 80px;
}

.banner-head {
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
}

.banner-para {
  font-weight: bold;
  padding: 15px 0px;
  color: #fff;
}

.banner-btn {
  background-color: #627edc;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  border: white;
  text-transform: uppercase;
  cursor: pointer;
}

.banner-btn:hover,
.banner-btn:focus {
  background: #3952a3;
  color: #ffffff;
  outline: 0;
  transition: background-color 2s ease-out;
}

.banner-span {
  color: yellow;
}

.project-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px;
  padding-top: 10px;
  gap: 50px;
  text-align: center;
}

.project-image {
  padding: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 70%;
}

.project-1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: #f5f7ff;
}

.project-1:hover {
  box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.2);
}

.project-content {
  margin-bottom: 20px;
}

.project-title {
  margin-bottom: 10px;
}

.project-description {
  margin-bottom: 10px;
}

.project-link {
  color: #3952a3;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}


.contact {
  background: #dcdfea;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact form label {
  display: block;
  margin: 7px 0px;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  padding: 1em;
  border: solid 1px #627edc;
  border-radius: 4px;
}

.contact form textarea {
  resize: none;
}

.contact form button {
  background: #627edc;
  border: 0;
  color: #e4e4e4;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0px;
}

.contact form button:hover,
.contact form button:focus {
  background: #3952a3;
  color: #ffffff;
  outline: 0;
  transition: background-color 2s ease-out;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #1a2238;
  padding-top: 15px;
  text-align: center;
  margin-bottom: 10px;
}

.about-head {
  padding: 20px 0px;
  font-size: 28px;
  text-align: center;
}

.about-para {
  padding: 10px 0px;
  font-size: 18px;
  line-height: 28px;
  width: 78%;
}

.skill-section {
  text-align: center;
  background-color: #f5f7ff;
}

.skill-section i {
  color: #4a5fc1;
  font-size: 50px;
}

.about-icons {
  color: #4a5fc1;
  font-size: 30px;
  padding: 10px;
}

.skill-list {
  display: flex;
  justify-content: center;
  /* margin-top: 10px; */
  padding-bottom: 20px
}

.fa {
  padding: 20px;
  font-size: 30px;
}

.sk {
  padding: 30px;
}

.skill-list-header {
  padding-top: 20px;
}

.social-links  {
  display: flex;
  position: relative;
}


/* .fa:hover {
  color: white;
} */

.contact-form {
  display: grid;
  place-items: center;
  margin-top: 40px;

}

.contact{
  padding-bottom: 20px
}
/* .copyright {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 30%;
  right: 0;
} */

.footer{
  padding: 10px 0px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-heading{
  font-size: 1.2rem;
}
 
.footer-icon{
  color: white;
  font-size: 1.5rem;
}

.footer-bottom{
 margin-top: 10px;
}

@media (max-width: 768px) {
  .navbar-list{
     position: fixed;
     flex-direction: column;
     background-color: #FFFFFF;
     box-shadow: 0 3px 5px rgba(0,0,0,0.4);
     top: 42px;
     /* left: 15%; */
     right: 0%;
     width: 30%;
     height: 100px;
     text-align: center;
     transform: translateX(140%);
     transition: transform 0.3s ease-in;
     overflow: hidden;
  }

  .navbar-list-item{
    padding: 3px;
  }

  .skill-section i {
    color: #4a5fc1;
    font-size: 40px;
  }

  .nav-link:hover{
    color: #4a5fc1;
  }

  .hamburger{
    cursor: pointer;
    justify-content: flex-end;
  }
  .line-1,.line-2,.line-3{
    display: block;
    margin: 5px auto;
    width: 30px;
    height: 3px;
    background-color: black;
    transition: 0.4s;  
  }
  .open .line-1{
   transform: rotate(45deg) translate(8px,3px) ;
  }

  .open .line-2{
   opacity: 0;
  }

  .open .line-3{
    transform: rotate(-45deg) translate(8px,-3px);
  }
  .navbar-list.show{
    transform: translate(0%);
  }
  .nav-link::after{
   display: none;
  }

  .hamburger{
    display: block;
    cursor: pointer;
  }
  
  
}

@media (max-width: 425px) {
.name-header{
  margin: 3px 0px;
}
  .sk {
    padding: 5px;
  }
  .fab,
  .fas {
    font-size: 30px;
  }
  .skill-list-header {
    padding-top: 10px;
    font-size: 14px;
    padding-left: 10px;
  }

  .project-section {
    display: grid;
    grid-template-columns: 1fr;
  }

  .project-image {
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 85%;
  }

  .bg-banner {
    background-image: linear-gradient(
        45deg,
        rgba(171, 172, 162, 0.62),
        rgba(151, 204, 176, 0.58)
      ),
      url('../img/photo.jpg');
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .skill-list-header {
    padding-top: 10px;
    font-size: 13px;
    padding-left: 0px;
  }
}

/* @media only screen and (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > * {
    padding: 2em;
  }

  .company-info {
    border-radius: 4px 0 0 4px;
  }

  .contact {
    border-radius: 0 4px 4px 0;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
} */
